@for (profit of profits; track profit.label) {
  <mat-card appearance="outlined" style="overflow: hidden">
      <mat-card-header>
        <mat-card-title>
          <h4 class="mat-text-tertiary">{{ profit.label }}</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="profit-list">
          @for (description of profit.values; track description) {
            <li class="profit-list-item">
                <mat-icon style="color: var(--mat-sys-primary-fixed); fill: currentColor;">verified</mat-icon>
                <span>{{ description }}</span>
            </li>
          }
        </ul>
      </mat-card-content>
  </mat-card>
}



