
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;


html,body {
  height: 100vh;
}

html {
  @include mat.system-classes();
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

h1 {
  font-size: var(--mat-sys-headline-large-size);
  line-height: var(--mat-sys-headline-large-line-height);
  font-family: var(--mat-sys-headline-large-font), serif;
  color: var(--mat-sys-primary);
}

h1.display {
  font-size: var(--mat-sys-display-large-size);
  line-height: var(--mat-sys-display-large-line-height);
  font-family: var(--mat-sys-display-large-font), serif;
  color: var(--mat-sys-primary);
}

h2 {
  font-size: var(--mat-sys-headline-large-size);
  line-height: var(--mat-sys-headline-large-line-height);
  font-family: var(--mat-sys-headline-large-font), serif;
  color: var(--mat-sys-primary);
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px,
      transparent 2px
  );
  pointer-events: none;
  z-index: 1000;
}

router-outlet {
  display: none;
}

.mat-text-accent {
  color: var(--mat-sys-tertiary);
}
.mat-bg-accent {
  background-color: var(--mat-sys-tertiary-container);
}

/* You can add global styles to this file, and also import other style files */
